header {
    padding:3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header img{
    display: 100%;
}

header nav a {
    color:black;
    padding: 25px 30px 20px;
    text-decoration: none;
    text-align: end;   
    text-size-adjust: medium;   
}
main{
    padding: 2rem;
    display: flex;

}
main section:first-child{
    flex:3;
    
}
main section:last-child{
    flex:2
}
main img{
max-width: fit-content;
display: center;
}

main section h3{
    color: rgb(247, 27, 162);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px;
}
main section h1{
    text-align:left;
    font-size: 7rem;
   font-weight:bolder;
}
main section p{
    font-size: 2rem;
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main section button{
   
background-image: url(./assets/background.svg);
border-image-outset: 10px;
width: 20rem;
padding: 3rem;
border-radius: 3rem;
border-image-outset: 2rem;
}
div.upsel{
    background-image: url(./assets/background.svg);
    padding: 5rem;
    background-size:cover
}
div.press {

   display: flex;
    margin-top: 5rem;
      padding: 5rem;
      justify-content: space-between;

}
div.text{
    padding: 5rem;
    display: block;

}
div.text h1{
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.text p{
    font-size: 2rem;
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div.text p a{
    text-decoration: underline;
    color: grey;
}
main.showcase div{
    padding:3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
main.showcase div table{
    display:flex;
    justify-content: space-between;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 18.1rem;
    background-color: rgb(217, 202, 202); 
}
div.footer div{
    display:flexbox;
    flex-direction: row;
}


